{
  "extends": [
    "plugin:flowtype/recommended",
    "prettier"
  ],
  "plugins": ["flowtype", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "semi": "error",
    "keyword-spacing": ["error", { "before": true }],
    "object-curly-spacing": ["error", "always"]
  }
}
